<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation GDF by DFRNC</title>
</head>

<body>
    <div class="animationGDF">
        {{>img/animationGDF.svg}}
    </div>
</body>


</html>