<header class="header">
    <div class="header__logo">
        <img class="header__logo-img" src="assets/img/logo.png" alt="">
    </div>
    <ul class="header__menu">
        <li class="header__menu-item">item1</li>
        <li class="header__menu-item">item2</li>
        <li class="header__menu-item">item3</li>
    </ul>
</header>